

:root {
    --coquelicot: #03c316;
    /* --voice: #737373; */
    --voice: #ffffff;
    --text-color: hsl(22, 90%, 56%);
  }
  
  

  


  
  

  .video {
    padding-block: 0;
    
  }
  .live-btn {
    background-color: var(--coquelicot);
    color: var(--white);
    padding: 3px;
    border-radius: 50%;
    
    animation: pulse_live 1s ease infinite;
  }
  @keyframes pulse_live {
    0% { box-shadow: 0 0 0 0 var(--coquelicot); }
    100% { box-shadow: 0 0 0 7px transparent; }
  }

  
  .play-btn {
    background-color: var(--coquelicot);
    color: var(--white);
    width: max-content;
    font-size: 30px;
    padding: 3px;
    border-radius: 50%;
    margin-block: 25px 35px;
    animation: pulse 2s ease infinite;
  }
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 var(--coquelicot); }
    100% { box-shadow: 0 0 0 12px transparent; }
  }
  
  .voice-btn {
    background-color: var(--voice);
    color: var(--white);
    width: max-content;
    font-size: 30px;
    padding: 0;
    border-radius: 50%;
    margin-block: 25px 35px;
    animation: pulse-btn 1.2s ease infinite;
  }

  
  @keyframes pulse-btn {
    0% { box-shadow: 0 0 0 0 var(--voice); }
    100% { box-shadow: 0 0 0 8px transparent; }
  }
  
  
  
  
